<div class="flex-shrink-0 flex items-center">
  <%= link_to projects_path, class: "text-xl font-bold text-gray-900" do %>
    <span class="text-blue-600">Immo</span>::<span class="text-gray-600">Promo</span>
  <% end %>
</div>