<div class="<%= classes %>">
  <% if with_header? %>
    <div class="card-header">
      <% if content_for?(:header) %>
        <%= content_for(:header) %>
      <% elsif title %>
        <h3 class="text-lg font-medium text-gray-900"><%= title %></h3>
      <% end %>
    </div>
  <% end %>
  
  <div class="card-body">
    <%= content %>
  </div>
</div>