<div class="<%= size_classes %> rounded-full <%= color_classes %> flex items-center justify-center"
     <% if show_tooltip %>title="<%= user.full_name %>"<% end %>>
  <span class="font-medium">
    <%= initials %>
  </span>
</div>