<span class="h-8 w-8 rounded-full <%= phase_status_class %> flex items-center justify-center ring-8 ring-white">
  <%= render Ui::IconComponent.new(name: phase_icon_name, size: 5, css_class: 'text-white') %>
</span>